[Desktop Entry]
Type=Application
Name=Nonograms
Comment=Solve nonogram puzzles
Categories=Game;LogicGame
Keywords=picross;paint-by-number;puzzle
Exec=nonograms %U
DBusActivatable=true
Terminal=false
Icon=dev.ianjohnson.Nonograms
