[Desktop Entry]
Name=Nonograms
Comment=Solve nonogram puzzles
Categories=Game;LogicGame
Keywords=picross;paint-by-number;puzzle
Type=Application
Exec=nonograms %U
DBusActivatable=true
Terminal=false
Icon=dev.ianjohnson.Nonograms
